@using SFA.DAS.RoatpAssessor.Web.Settings
@inject IWebConfiguration Configuration

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="@Configuration.EsfaAdminServicesBaseUrl">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Home">RoATP assessor applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Application assessment overview</li>
    </ol>
</div>