@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Clarification;
@model SFA.DAS.RoatpAssessor.Web.ViewModels.ApplicationReviewViewModel

<div class="govuk-form-group" sfa-validation-for-list="Status,OptionPass,OptionPassText,OptionFailText,OptionInProgressText" sfa-validationerror-class="govuk-form-group--error">
    <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                What is the outcome of this check?
            </h2>
        </legend>

        <span class="govuk-error-message" asp-validation-for="Status"></span>
        @{
            if (ViewContext.ViewData.ModelState.TryGetValue("OptionPass", out var optionPass) && optionPass.Errors.Any())
            {
                <span class="govuk-error-message">@optionPass.Errors[0].ErrorMessage</span>
            }
        }

        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            @{
                var radioCheckedPassed = Model.Status == ClarificationPageReviewStatus.Pass ? "checked" : "";
                var radioCheckedFailed = Model.Status == ClarificationPageReviewStatus.Fail ? "checked" : "";
                var radioCheckedInProgress = Model.Status == ClarificationPageReviewStatus.InProgress ? "checked" : "";
            }

            <!-- PASS -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       id="OptionPass"
                       name="Status"
                       value="@ClarificationPageReviewStatus.Pass"
                       data-aria-controls="conditional-OptionPass"
                       @radioCheckedPassed />
                <label class="govuk-label govuk-radios__label" for="OptionPass">
                    Pass
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionPass">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="150">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="OptionPassText">
                            Add internal comments (optional)
                        </label>
                        <span class="govuk-error-message" asp-validation-for="OptionPassText"></span>
                        <textarea class="govuk-textarea govuk-js-character-count"
                                  asp-for="OptionPassText"
                                  sfa-validation-for="OptionPassText"
                                  sfa-validationerror-class="govuk-textarea--error-override"
                                  rows="5"
                                  aria-describedby="OptionPassText-info"
                                  maxlength="10000"></textarea>
                    </div>

                    <span id="OptionPassText-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 150 words
                    </span>
                </div>
            </div>
            <!-- /PASS -->
            <!-- FAIL -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       id="OptionFail"
                       name="Status"
                       value="@ClarificationPageReviewStatus.Fail"
                       data-aria-controls="conditional-OptionFail"
                       @radioCheckedFailed />
                <label class="govuk-label govuk-radios__label" for="OptionFail">
                    Fail
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-OptionFail">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="150">
                    <div class="govuk-form-group">
                        <label for="OptionFailText" class="govuk-label">
                            Add internal comments
                        </label>
                        <span class="govuk-error-message" asp-validation-for="OptionFailText"></span>
                        <textarea class="govuk-textarea govuk-js-character-count"
                                  asp-for="OptionFailText"
                                  sfa-validation-for="OptionFailText"
                                  sfa-validationerror-class="govuk-textarea--error-override"
                                  rows="5"
                                  aria-describedby="OptionFailText-info"
                                  maxlength="10000"></textarea>
                    </div>
                    <span id="OptionFailText-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 150 words
                    </span>
                </div>
            </div>
            <!-- /FAIL -->

            <div class="govuk-radios__divider">or</div>

            <!-- IN PROGRESS -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       id="InProgress"
                       name="Status"
                       value="@ClarificationPageReviewStatus.InProgress"
                       data-aria-controls="conditional-InProgress"
                       @radioCheckedInProgress />
                <label class="govuk-label govuk-radios__label" for="InProgress">
                    In progress
                </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-InProgress">
                <div class="govuk-character-count" data-module="govuk-character-count" data-maxwords="150">
                    <div class="govuk-form-group">
                        <label for="OptionInProgressText" class="govuk-label">
                            Add internal comments (optional)
                        </label>
                        <span class="govuk-error-message" asp-validation-for="OptionInProgressText"></span>
                        <textarea class="govuk-textarea govuk-js-character-count"
                                  asp-for="OptionInProgressText"
                                  sfa-validation-for="OptionInProgressText"
                                  sfa-validationerror-class="govuk-textarea--error-override"
                                  rows="5"
                                  aria-describedby="OptionInProgressText-info"
                                  maxlength="10000"></textarea>
                    </div>
                    <span id="OptionInProgressText-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                        You can enter up to 150 words
                    </span>
                </div>
            </div>
            <!-- /IN PROGRESS -->
        </div>
    </fieldset>
</div>