@model SFA.DAS.RoatpAssessor.Web.ViewModels.ApplicationSummaryAndBreadcrumbViewModel

<div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
    <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                Clarified answer
            </h2>
        </legend>

        <div class="govuk-character-count govuk-!-margin-bottom-0" data-module="govuk-character-count" data-maxwords="300">
            <div class="govuk-form-group">
                <label class="govuk-label" for="Response">
                    Enter clarification response
                </label>
                <span class="govuk-error-message" asp-validation-for="ClarificationResponse"></span>
                <textarea 
                    class="govuk-textarea govuk-js-character-count"
                    asp-for="ClarificationResponse"
                    sfa-validation-for="ClarificationResponse"
                    sfa-validationerror-class="govuk-textarea--error-override"
                    rows="5"
                    aria-describedby="ClarificationResponse-info"
                    maxlength="10000"></textarea>
            </div>
            <span id="ClarificationResponse-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 300 words
            </span>
        </div>
    </fieldset>
</div>