@model SFA.DAS.RoatpAssessor.Web.ApplyTypes.Apply.TabularData

@if (Model != null && Model.HeadingTitles != null && Model.DataRows != null)
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <table class="govuk-table das-table das-table--responsive govuk-!-margin-bottom-9">
                @if (Model.Caption != null)
                {
                    <caption class="govuk-table__caption">
                        @Model.Caption 
                    </caption>
                }
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        @for (int index = 0; index < Model.HeadingTitles.Count; index++)
                        {
                            var title = Model.HeadingTitles[index];
                            <th class="govuk-table__header" scope="col">@title</th>
                        }
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    @{
                        var headingTitlesCount = Model.HeadingTitles.Count;
                        @foreach (var dataRow in Model.DataRows)
                        {
                            <tr class="govuk-table__row">
                                @for (int index = 0; index < dataRow.Columns.Count; index++)
                                {
                                    var dataLabel = (index < headingTitlesCount) ? Model.HeadingTitles[index] : "";
                                    var answer = String.IsNullOrEmpty(dataRow.Columns[index]) ? "Not applicable" : dataRow.Columns[index];
                                    <td class="govuk-table__cell" data-label="@dataLabel">@answer</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}