@using SFA.DAS.RoatpAssessor.Web.Settings
@inject IWebConfiguration Configuration

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">RoATP assessor applications</li>
    </ol>
</div>