@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Assessor;
@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel

<div class="govuk-form-group" sfa-anyvalidationerror-class="govuk-form-group--error">
    <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
                ! This application will pass and go to governance
            </h2>
        </legend>

        <span id="Status" class="govuk-error-message" asp-validation-for="Status"></span>

        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
            @{
                var radioCheckedYes = Model.ConfirmStatus == "Pass" ? "checked" : "";
                var radioCheckedNo = Model.ConfirmStatus == "Fail" ? "checked" : "";

            }

            <!-- YES -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       id="Yes"
                       name="ConfirmStatus"
                       value="Yes"
                       data-aria-controls="conditional-OptionYes"
                       @radioCheckedYes />
                <label class="govuk-label govuk-radios__label" for="Yes">
                    Yes
                </label>
            </div>
            <!-- /YES -->
            <!-- NO -->
            <div class="govuk-radios__item">
                <input class="govuk-radios__input"
                       type="radio"
                       id="No"
                       name="ConfirmStatus"
                       value="No"
                       data-aria-controls="conditional-OptionNo"
                       @radioCheckedNo />
                <label class="govuk-label govuk-radios__label" for="No">
                    No
                </label>
            </div>
            <!-- /NO -->

        </div>
    </fieldset>
</div>