@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel



<main class="govuk-main-wrapper " id="main-content" role="main">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    HOLDING PAGE
</div>
<br/>
<div>
    Status: @Model.Status<br/>
    Comments: @Model.ReviewComment
</div>
</div>
</main>