@using Microsoft.AspNetCore.Authorization.Infrastructure
@using SFA.DAS.RoatpAssessor.Web.ApplyTypes.Apply
@using SFA.DAS.RoatpAssessor.Web.ViewModels
@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel
@{
    ViewBag.Title = "Moderation outcome";
    Layout = "_Layout";
    var breadcrumbViewModel = new ModeratorOutcomeViewModel(Model.ApplicationId);
}

<partial name="~/Views/ModeratorOutcome/_Breadcrumb.cshtml" model="breadcrumbViewModel" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <partial name="~/Views/Shared/Partials/_ValidationSummary.cshtml" />
            
            <span class="govuk-caption-xl">
                Moderation outcome
            </span>
            @if (Model.Status == ModerationConfirmationStatus.Pass)
            {
                <h1 class="govuk-heading-xl">Are you sure you want to pass this application?</h1>
            }
            
            @if (Model.Status == ModerationConfirmationStatus.Fail)
            {
                <h1 class="govuk-heading-xl">Are you sure you want to fail this application?</h1>
            }
            
            @if (Model.Status == ModerationConfirmationStatus.AskForClarification)
            {
                <h1 class="govuk-heading-xl">Are you sure you want to ask for clarification?</h1>
            }

            <partial name="~/Views/ModeratorOutcome/_ApplicationSummary.cshtml" for="@Model" />
        </div>
    </div>
    

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form class="js-disable-on-submit" method="post" asp-action="SubmitModeratorOutcomeConfirmation" asp-controller="ModeratorOutcome">
                    <input type="hidden" asp-for="ApplicationId" />
                    <input type="hidden" asp-for="ReviewComment"/>
                    <input type="hidden" asp-for="Status"/>
                    <partial name="~/Views/ModeratorOutcome/_ApprovalSectionYesNo.cshtml" for="@Model" />

                    <button class="govuk-button" type="submit">Save and continue</button>
                </form>
            </div>
        </div>
    
</main>