@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel
@*Holding page until APR-1722 delivered*@

@{
    ViewBag.Title = "Moderation outcome";
    Layout = "_Layout";
}

<partial name="~/Views/ModeratorOutcome/_Breadcrumb.cshtml" />

<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-xl">Outcome saved as:</h1>
            <h1 class="govuk-heading-xl">@Model.Status</h1>

        </div>
    </div>
    <partial name="~/Views/ModeratorOutcome/_ApplicationSummary.cshtml" for="@Model" />


    <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Home">Go to RoATP assessor applications</a>
</main>