@model SFA.DAS.RoatpAssessor.Web.ViewModels.ModeratorOutcomeReviewViewModel



<main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            HOLDING PAGE FOR Moderation Completed
        </div>
        <br/>
        <div>
            Status: @Model.Status<br/>
            
        </div>
    </div>
</main>