@model SFA.DAS.RoatpAssessor.Web.ViewModels.ClarificationOutcomeViewModel

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Dashboard" asp-controller="Home">RoATP dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="Index" asp-controller="Home">RoATP assessor applications</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" asp-action="ViewApplication" asp-controller="ClarificationOverview" asp-route-applicationId="@Model.ApplicationId">Application moderation overview</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Moderation outcome</li>
    </ol>
</div>